.sectionSlider{
  width: 100%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 0 2rem 0 2rem;
    padding: 2rem 0 2rem 0;
  }

  .title-container h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
  }
  .slider-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: transparent; 
    cursor: pointer; 
    transition: transform 0.3s; 
    border: none;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
  }
  .movie-card img {
    width: 100px; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(192, 192, 192, 0.5); 
  }
  .movie-card p {
    margin-top: 0.5rem; 
  }
  .movie-card:hover {
    transform: scale(1.1); 
  }
  .img-poster{
    height: 60px;
  }
  .btnSlider {
    margin: 0 2rem 0 2rem;
    position: absolute;
    top: 50%;
    z-index: 9999;
    background-color: transparent; 
    color: white; 
    font-size: 3rem; 
    width: auto; 
    height: auto; 
    border: none; 
    cursor: pointer;
    transition: transform 0.3s; 
  }
  
  .btnSlider:hover {
    transform: scale(1.1); 
  }
  
  .btnSlider.left {
    left: 0;
    transform: translateY(-50%) translateX(-50%); 
  }
  
  .btnSlider.right {
    right: 0;
    transform: translateY(-50%) translateX(50%); 
  }
  